/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Variables */

:root {
    --main-bg-color: #088178;
    --bg-color: #000;
    --font-color: #fff;
    --left-right: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: #E3E6F3;
    width: 100%;
}

body h1,
body h2 {
    text-transform: uppercase;
}


body p {
    font-size: 17px;
}

/* Nav Bar */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Spartan', sans-serif;
    width: 100%;
    height: 15vh;
    padding: 20px 75px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

header .logo img {
    width: 170px;
    height: auto;
}

header ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

header ul li {
    padding: 0 25px;
}

header ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    transition: 0.2s ease-in;
}

header ul li a.active,
header ul li a:hover {
    color: #088178;
}

header .menu-btn i {
    color: #000;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

#hide {
    display: none;
}

/* Drop down menu */

header .submenu {
    display: inline-block;
    position: relative;
}

header .submenu .submenu-cont {
    display: none;
    position: absolute;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 130px;
    border-radius: 8px;
    padding: 10px;
}

header .submenu .submenu-cont li:nth-child(1) {
    padding-bottom: 10px;
}

header .submenu:hover .submenu-cont {
    display: block;
}

header ul li a.active {
    color: #088178;
}

/* Kosgoda Hero Section */

.kosgoda-img {
    background-image: url(../images/kosgoda-banner.jpg);
    width: 100%;
    background-size: cover;
    background-position: top 50% right 0;
    height: 60vh;
}

#main .main-txt {
    margin-top: 20px;
    margin-left: var(--left-right);
    margin-right: var(--left-right);
    text-align: center;
}

.main-txt h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.main-txt h4 {
    margin-top: -12px;
    margin-bottom: 10px;
    font-size: 30px;
}

.main-txt p {
    font-size: 17px;
}

.main-img {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    gap: 40px;
}

.main-img div img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-img div:nth-child(1) img {
    object-position: top 10% left 68%;
}


.main-img div:nth-child(3) img {
    object-position: top 10% left 25%;
}

#kosgoda-history {
    background-color: var(--main-bg-color);
    color: var(--font-color);
    height: fit-content;
}

#kosgoda-history .history {
    padding-top: 70px;
    padding-bottom: 70px;
}

.history,
.ava-turtles {
    margin-top: 50px;
    margin-left: var(--left-right);
    margin-right: var(--left-right);
}

.history h2 {
    text-align: center;
    margin-bottom: 20px;
}

.history p {
    text-align: justify;
}

.ava-turtles {
    text-align: center;
}

/* Hexagon - Turtle Categories */

.hex-container {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hex-container .hex {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 50px 30px 70px;
}


.hex-container .hex:hover::before {
    opacity: 0.8;
    transform: scale(0.8);
}

.hex-container .hex .hex-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hex-container .hex:hover .hex-shape {
    transform: translateY(-30px);
}

.hex-container .hex .hex-shape img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hex-container .hex .hex-shape .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #81898c, rgba(27, 28, 28, 0.5));
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.hex-container .hex .hex-shape .content h1 {
    margin-bottom: 10px;
}

.hex-container .hex:nth-child(4),
.hex-container .hex:nth-child(5) {
    margin-top: -125px;
}

.hex-container .hex:hover .hex-shape .content {
    opacity: 1;
}

/* Open hours */

#op-hours {
    background-color: var(--main-bg-color);
    color: var(--font-color);
}

#op-hours .op-cont {
    margin-left: var(--left-right);
    margin-right: var(--left-right);
    margin-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

#op-hours .op-cont h2 {
    margin-bottom: 20px;
}

#op-hours .map {
    padding-bottom: 50px;
}

.map iframe {
    height: 400px;
    width: 85%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin: 0 auto;
}

/* Contact us */

#contact {
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

#contact .form {
    background: #fff;
    width: 33%;
    margin-right: 50px;
    height: 70vh;
    border-radius: 25px;
    padding: 20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

form .form-control span {
    color: red;
    margin-left: 2px;
}

form .form-control input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
}

form .form-control textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;

}

form .form-control label {
    font-size: 17px;
}

form .form-control:nth-child(4) label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form .form-control button,
.contact-details button {
    display: block;
    margin: 10px auto;
    width: 40%;
    height: 35px;
    border: 1px solid #088178;
    background-color: var(--main-bg-color);
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
}

#contact .contact-details {
    background: #fff;
    width: 33%;
    height: 70vh;
    border-radius: 25px;
    padding: 20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.contact-details h3 {
    text-align: center;
    margin-bottom: 10px;
}

.contact-details p {
    margin: 10px 0 10px 0;
}

.contact-details button {
    margin-top: 85px;
}

/* footer */

footer {
    background-color: #000;
    padding: 50px 100px;
    color: #fff;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

footer .footer-left img {
    width: 150px;
    height: auto;
}

footer .footer-left-02 li {
    list-style: none;
    margin-bottom: 10px;
}

footer .footer-left-02 li:nth-child(7) {
    margin-bottom: 0px;
}

footer .footer-left-02 ul a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in-out;
}

footer .footer-left-02 ul a:hover {
    color: #19a7ce;
}

footer .footer-center div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

footer .footer-center div:nth-child(3) {
    margin-bottom: 0px;
}

footer .footer-center div i {
    width: 35px;
    height: 35px;
    background-color: #19a7ce;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #fff;
}

footer .footer-center div i:hover {
    background-color: #fff;
    color: #19a7ce;
}

footer .footer-center div a {
    color: #fff;
}

footer .footer-center div a:hover {
    color: #19a7ce;
}

footer .footer-right {
    width: 30%;
}

footer .footer-right p {
    padding: 15px 0px
}

footer .footer-icons {
    display: flex;
}

footer .footer-icons a {
    text-decoration: none;
    width: 35px;
    height: 35px;
    background-color: #19a7ce;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-icons img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

footer .footer-icons a:nth-child(5) {
    margin-right: 0px;
}

footer .footer-icons a:hover {
    color: #19a7ce;
    background-color: #fff;
}

footer .footer-icons a:hover img {
    filter: invert(0%);
}

footer .footer-copyright {
    text-align: center;
    padding-top: 50px;
}


/* media querry */

@media (max-width: 1200px) {
    header .menu-btn i {
        display: block;
        margin-right: -50px;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    #navbar {
        display: none;
    }

    #hide {
        display: block;
    }

    header ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #E3E6F3;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    header ul li {
        width: 100%;
        margin: 40px 0;
    }

    header ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    header ul li a.active,
    header ul li a:hover {
        background: none;
        color: #088178;
    }

    .hex-container .hex {
        position: relative;
        width: 350px;
        height: 400px;
        margin: 30px;
    }


    .hex-container .hex:nth-child(4) {
        margin-top: 30px;
    }

    .hex-container .hex:nth-child(5) {
        margin-top: -60px;
    }

    #contact {
        display: block;
        height: fit-content;
        width: 100%;
    }

    #contact .form {
        width: 40%;
        margin: 50px auto;
        height: fit-content;
    }

    #contact .contact-details {
        width: 40%;
        margin: 50px auto;
        height: fit-content;
        padding: 20px 35px;
    }

    .contact-details button {
        margin-top: 65px;
    }


}

/* tab screen */

@media (max-width: 830px) {

    header ul {
        top: 90px;
    }

    header .logo img {
        width: 150px;
        margin-left: -40px;
        height: auto;
    }

    #contact .form {
        width: 50%;
        margin: 50px auto;
        height: fit-content;
    }

    #contact .contact-details {
        width: 50%;
        margin: 50px auto;
        height: fit-content;
        padding: 20px 35px;
    }

    .contact-details button {
        margin-top: 65px;
    }

    .main-img {
        display: flex;
        flex-direction: column;
    }


    .hex-container .hex {
        margin: 18px;
    }

    .hex-container .hex:hover .hex-shape {
        transform: translateY(0px);
    }

    .hex-container .hex .hex-shape .content {
        opacity: 1;
    }

    .hex-container .hex:nth-child(4),
    .hex-container .hex:nth-child(5) {
        margin-top: 18px;
    }

    .hex-container .hex:nth-child(5) {
        margin-bottom: 50px;
    }

    /* Footer */

    footer .footer-right {
        margin-top: 20px;
        width: 50%;
    }

}

/* mobile screen */

@media (max-width: 477px) {

    header ul {
        top: 90px;
    }

    header .logo img {
        width: 100px;
        margin-left: -40px;
        height: auto;
    }

    .kosgoda-img {
        width: 100%;
        background-position: top 60% left 20%;
        height: 50vh;
    }

    #main .main-txt {
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }

    .main-txt h2 {
        font-size: 28px;
    }


    .main-txt h4 {
        font-size: 23px;
    }

    .main-txt p {
        margin-top: 20px;
        font-size: 17px;
    }

    .history,
    .ava-turtles {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .ava-turtles {
        margin-bottom: 20px;
    }

    .hex-container {
        margin-bottom: 50px;
    }

    .hex-container .hex {
        position: relative;
        width: 350px;
        height: 400px;
        margin: 18px;
    }

    .hex-container .hex:hover .hex-shape {
        transform: translateY(-20px);
    }

    .hex-container .hex:nth-child(4),
    .hex-container .hex:nth-child(5) {
        margin-top: 18px;
    }

    #op-hours .op-cont {
        margin-left: 30px;
        margin-right: 30px;
    }

    .map iframe {
        height: 350px;
    }

    #contact {
        display: block;
        height: fit-content;
        width: 100%;
    }

    #contact .form {
        width: 80%;
        margin: 50px auto;
        height: fit-content;
    }

    #contact .contact-details {
        width: 80%;
        margin: 50px auto;
        height: fit-content;
        padding: 20px 35px;
    }

    .contact-details button {
        margin-top: 65px;
    }

    /* Footer */

    .footer-container {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }

    footer .footer-left-02 ul {
        margin-bottom: 30px;
    }

    footer .footer-left-02 li {
        text-align: center;
    }

    footer .footer-center div {
        justify-content: center;
    }

    footer .footer-right {
        margin-top: 30px;
        width: 130%;
        text-align: center;
    }

    footer .footer-icons {
        display: flex;
        justify-content: center;
    }

}